# Xcode-specific files
.DS_Store
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM